@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Assistant', sans-serif;
}
.hover:hover{
  color: rgb(157, 3, 3);
}
.buttonhover:hover{
  padding: 5px;
}
.img{
  max-width: 100%;
  height: auto;
}
.text-red{
  color: rgb(157, 3, 3);
}